<div>

    <cp-card [cardAction]="card1"></cp-card>
    <cp-card [cardAction]="card2"></cp-card>
    <cp-card [cardAction]="card3"></cp-card>
    <cp-card [cardAction]="card4"></cp-card>
    <cp-card [cardAction]="card5"></cp-card>
    <cp-card [cardAction]="card6"></cp-card>
    <cp-card [cardAction]="card7"></cp-card>
    <cp-card [cardAction]="card8"></cp-card>
    <cp-card [cardAction]="card9"></cp-card>
    <cp-card [cardAction]="card10"></cp-card>
    <cp-card [cardAction]="card12"></cp-card>
    <cp-card [cardAction]="card11"></cp-card>

</div>