<ion-fab top left >
    <button ion-fab>Меню</button>
    <ion-fab-list side="right">
        <button ion-fab><ion-icon name="contact"></ion-icon></button>
        <button ion-fab><ion-icon name="share-alt"></ion-icon></button>
        <button ion-fab><ion-icon name="card"></ion-icon></button>
        <button ion-fab><ion-icon name="construct"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
        <button ion-fab><ion-icon name="beer"></ion-icon></button>
        <button ion-fab><ion-icon name="cafe"></ion-icon></button>
    </ion-fab-list>
</ion-fab>