<div class="bottom-menu-container">
    <ion-grid>
        <ion-row>
            <ion-col col-2 class="bottom-menu-holder">
                <button ion-button clear>Фолд</button>
            </ion-col>
            <ion-col col-2 class="bottom-menu-holder">
                <button ion-button clear>Колл 50</button>
            </ion-col>
            <ion-col col-2 class="bottom-menu-holder">
                <button ion-button clear>Рейз до 1000</button>
            </ion-col>
            <ion-col col-6 class="bottom-menu-holder">
                <ion-range style="margin-top:-10px;">
                    <ion-icon range-left name="remove-circle"></ion-icon>
                    <ion-icon range-right name="add-circle"></ion-icon>
                </ion-range>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

